@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
.featured {
    width: 100%;
    height: 80vh;
    background: #2D0C5E;
}

.featured--horizontal {
    display: flex;
    flex-direction: column;
    padding-top: 35px;
}

.featured--info {
    position: relative;
    display: flex;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    justify-content: center;
    text-align: center;
}

.featured--info h2 {
    display: flex;
}

.header-subtitle {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-style: bold;
    margin: 0px 0px 10px 0px;
}

.header-title {
    font-size: 35px;
    color: #ffffff;
}

.featured--buttons {
    position: relative;
    justify-content: center;
    padding-right: 150px;
    padding-left: 150px;
    text-align: center;
}

.featured--watchbutton {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 25px;
    margin: 7px 7px;
    border-radius: 5px;
    opacity: 1;
    text-decoration: none;
    transition: all ease 0.2s;
    background-color: #fff;
    color: #323232;
}

.featured--watchbutton:hover {
    background-color: #D18000;
    color: #ffffff;
}

@media (max-width: 320px) {
    .featured {
        height: 80vh;
    }
    .featured--info h2 {
        font-size: 20px;
    }
    .featured--buttons {
        position: relative;
        justify-content: center;
        text-align: center;
        width: 100%;
        font-size: 10px;
    }
    .featured--watchbutton {
        display: inline-block;
        font-size: 10px;
        text-align: center;
    }
    .featured--genres {
        font-size: 10px;
    }
}

@media (max-width: 760px) {
    .featured {
        height: 80vh;
    }
    .featured--info h2 {
        font-size: 20px;
    }
    .featured--watchbutton {
        display: inline-block;
        width: 80px;
        font-size: 10px;
        text-align: center;
    }
    .featured--genres {
        font-size: 10px;
    }
}

@media (max-width: 1000px) {
    .movieRow--item {
        width: 250px;
        opacity: 1;
    }

    .featured--info {
        display: flex;
        font-size: 50px;
        font-family: 'Roboto', sans-serif;
        font-style: bold;
        align-items: center;
    }
}