@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
.featured {
    height: 80vh;
}

.featured--vertical {
    width: inherit;
    height: inherit;
    background: #2D0C5E;
}

.featured--horizontal {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

.featured--info {
    position: relative;
    display: flex;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    font-style: bold;
    text-align: center;
}

.featured--info h2 {
    display: flex;
}

.header-subtitle {
    display: flex;
    margin-right: 15px;
    justify-content: center;
    text-transform: uppercase;
    font-style: bold;
}

.header-title {
    font-size: 40px;
    color: #ffffff;
}

.featured--buttons {
    margin-top: 30px;
    align-self: center;
}

.featured--watchbutton {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
    margin-right: 10px;
    opacity: 1;
    transition: all ease 0.2s;
}

.featured--watchbutton {
    background-color: #fff;
    color: #323232;
}

.featured--watchbutton:hover {
    background-color: #D18000;
    color: #ffffff;
}

@media (max-width: 760px) {
    .featured {
        height: 100vh;
    }
    .featured--info h2 {
        font-size: 20px;
    }
    .featured--watchbutton {
        display: inline-block;
        width: 80px;
        font-size: 14px;
        margin-top: 10px;
    }
    .featured--genres {
        font-size: 14px;
    }
}