header {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background:#7116c5;
    transition: all ease 0.5s;
}

.header--logo {
    height: 30px;
}
.header--logo img {
    height: 25px;
}