.movieRow {
    display: flex;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 190px;
}

.movieRow--listarea {
    width: 100%;
    display: flex;
    background-color: #E7E7E7;
}

.movieRow--item {
    position: relative;
    display: flex;
    float: left;
    list-style: none;
    margin-left: 5px;
}
.movieRow--item img {
    width: 150px;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    cursor: pointer;
}

.movieRow--item h3 {
    display: flex;
    box-sizing: border-box;
    font-size: 13px;
    color: #000000;
    cursor: pointer;
}

.movieRow--item p {
    text-align: inherit;
    color: #646464;
    font-size: 13px;
    font-style: bold;
}

@media (max-width: 760px) {
    .movieRow--item {
        width: 250px;
        opacity: 1;
    }
}